/*Fonts*/    
/*@font-face{
    font-family: 'AmaticSc';
    src: url('../fonts/amatic/AmaticSC-Regular.ttf?v=4.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'AmaticBold';
    src: url('../fonts/amatic/Amatic-Bold.ttf?v=4.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face{ 
	font-family: 'BritanicB';
	src: url('../fonts/britanic/britanic-webfont.eot');
	src: url('../fonts/britanic/britanic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/britanic/britanic-webfont.woff') format('woff'),
	     url('../fonts/britanic/britanic-webfont.ttf') format('truetype'),
	     url('../fonts/britanic/britanic-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'JuraLight';
	src: url('../fonts/jura/jura-light-webfont.eot');
	src: url('../fonts/jura/jura-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/jura/jura-light-webfont.woff') format('woff'),
	     url('../fonts/jura/jura-light-webfont.ttf') format('truetype'),
	     url('../fonts/jura/jura-light-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'NerisLight';
	src: url('../fonts/neris/neris-light-webfont.eot');
	src: url('../fonts/neris/neris-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/neris/neris-light-webfont.woff') format('woff'),
	     url('../fonts/neris/neris-light-webfont.ttf') format('truetype'),
	     url('../fonts/neris/neris-light-webfont.svg#webfont') format('svg');
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
header .intro-text .name,
.navbar {
    font-family:BritanicB;
}
body{
    font-family:JuraLight;
    
}
/*h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family:;
}
header .intro-text .name {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family:;
}
.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family:;
}*/
/*Nav*/

/*Header*/
    /*Formatting for image*/
.profile-pic {
    height:300px;
    width:auto;
}
/*Section-Portfolio*/
    /*Add borders to portfolio links*/
#portfolio .portfolio-item .portfolio-link{
    border: 1px solid #2C3E50;
}
/*Section-About*/
/*Section-Contact*/

