
/*test function*/
/*.wayTooBig{
    width:50%;
    height: auto;
}*/

.rot360CW_3s {
    -webkit-animation:spin 3s ease-in-out;
    -moz-animation:spin 3s ease-in-out;
    animation:spin 3s ease-in-out;
}
.rot360CW_3s2 {
    -webkit-animation:spin 3s ease-in-out;
    -moz-animation:spin 3s ease-in-out;
    animation:spin 3s ease-in-out;
}
@-moz-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
