<<<<<<< HEAD
.carousel-inner img {
	width:100%;
  	height:100%;
}

#myCarousel {
	font-size:90%;
}

.carousel-controls-mini {

}

.carousel-controls-mini > a {
	border:1px solid #eee;
  	width:20px;
    display:block;
    float:left;
    text-align:center;
}
=======
.carousel-inner img {
	width:100%;
  	height:100%;
}

#myCarousel {
	font-size:90%;
}

.carousel-controls-mini {

}

.carousel-controls-mini > a {
	border:1px solid #eee;
  	width:20px;
    display:block;
    float:left;
    text-align:center;
}
>>>>>>> origin/master
